src
test
tsconfig.json
tsconfig.module.json
tslint.json
.travis.yml
.github
.prettierignore
.vscode
.buckconfig
.editorconfig
metro.config.js
babel.config.js
build/docs
build/*/example
example
**/*.spec.*
coverage
.nyc_output
*.log
